.lf-control-clear {
  background-image: url("../assets/lf-control-clear.svg");
}
.lf-control-see {
  background-image: url("../assets/lf-control-see.svg");
}
.lf-control-import {
  background-image: url("../assets/lf-control-import.svg");
}
.lf-control-highlight {
  background-image: url("../assets/lf-control-highlight.svg");
}
.lf-control-save {
  background-image: url("../assets/lf-control-save.svg");
}